<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aquaponics</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- TODO export to CSS file -->
    <style>
        body {
            background: url("http://24.media.tumblr.com/tumblr_mdtlfrw2Kh1rgn8txo1_1280.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Automated Home Aquaponics</h1>
    <p>Ein Projekt von Samuel Schober, Ramin Bahadoorifar, Matthias Schwebler und Konrad k</p>
  </div>
</div>
</body>
</html>