/.vagrant
/static
*.pyc
/myproject/settings/local.py
.idea
node_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# webapp config
webapp/**/*.js
webapp/**/*.map
webapp/**/*.log
!webapp/public/javascripts/*.js
!webapp/models/conf.js
