extends layout

block content
	h1= title
	p Welcome to #{title}
	input(id='username' type='text')
	input(id='password' type='password')
	button(id='login') Login
	button(id='register') Sign Up

	h1 TEMPERATUR:
	h1(id='temperature') N/A